.button {
    background-color: #F8B400;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonLogin {
    font-family: serif;
    background-color: white; 
    color: black; 
    border: 2px solid #F8B400;
    border-radius: 4px;
}

.buttonLogin:hover {
    background-color: #F8B400;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 73%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}